*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #444;
  text-decoration: none;
  line-height: 1.5;
}

.container {
  border: 5px solid #000;
  width: 768px;
  margin: 50px auto;
  padding: 10px;
}

.header-primary {
  text-align: center;
  text-transform: uppercase;
  background-color: #b7b7b7;
  padding: 20px;
  position: relative;
}

.header-primary::before {
  content: "sale";
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  padding: 5px;
  background-color: #ff0000;
  position: absolute;
  left: -15px;
  top: -15px;
}

.main-cost {
  font-weight: bold;
  font-size: 20px;
}

.main-shipping {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 12px;
}

.main-description {
  margin: 10px 0;
}

.info:link {
  color: #000;
  margin: 10px 0;
}

.info:visited {
  color: #000;
}

.info:hover {
  text-decoration: none;
}

.info:active {
  text-decoration: none;
}

.colors {
  display: inline-block;
  height: 25px;
  width: 25px;
  background-color: #000;
  margin: 15px 10px;
}

.colors:nth-child(1) {
  background-color: violet;
}

.colors:nth-child(2) {
  background-color: indigo;
}
.colors:nth-child(3) {
  background-color: blue;
}
.colors:nth-child(4) {
  background-color: green;
}
.colors:nth-child(5) {
  background-color: yellow;
}
.colors:nth-child(6) {
  background-color: orange;
}
.details-header {
  margin: 15px 0;
  text-transform: uppercase;
}

.details-list {
  margin: 20px;
}

.card-add {
  background-color: #000;
  color: #fff;
  width: 100%;
  padding: 10px;
  text-transform: uppercase;
  font-size: 20px;
  border: 5px solid #000;
  cursor: pointer;
}

.card-add:hover {
  background-color: #fff;
  color: #000;
}
